/* style.css */

body {
    font-family: "Roboto", sans-serif;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0 20px 0;
}

h3 {
    color: #F9FAF8;
}

img {
    width: 200px;
}

ul {
    list-style: none;
}

.toplinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;   
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #F9FAF8;
    border: none;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}

.header {
    background-color: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 8px 48px 8px 150px;
}

.section1 {
    background-color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 48px 80px 150px;
}

.section11 {
    align-self: flex-start;
}

#NY {
    width: 540px;
    padding-left: 80px;
}

.section2 {
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section21 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 200px;
    width: 1200px;
}

.section211 {
    max-width: 180px;
    text-align: center;
}

.section211 img {
    border-radius: 10px;
    border: solid #3882f6;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 500px;
}

.q {
    margin: 0;
    padding: 100px 0 0 0;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: 600;
    text-align: end;
    margin: 0;
    padding: 0 0 100px 0;
}

.section4 {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 96px 192px 96px 192px;
    padding: 36px 0 36px 0;
}

.section41 {
    line-height: 0.1em;
}

#free {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}